name: Build Flutter Release APK

on:
  workflow_dispatch: # manual trigger
  push:
    branches:
      - main         # build on every push to main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.5" 

      # Get dependencies
      - name: Install dependencies
        run: flutter pub get

      # Build APK
      - name: Build Android Release APK
        run: flutter build apk --release

      # Upload artifact
      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
